@{
    //Title
    ViewData["Title"] = "Kontakt";
}
<article id="contact">
    <h2>Kontakt</h2>
    <!--Write data to view with ViewBag, ViewData -->
    <h3>@ViewBag.Message</h3>
    <p><strong>@ViewData["ContactMe"]</strong></p>
    <div id="contactcard">
        <img src="~/images/1361.JPG" alt="Erika Vestin">
        <p><strong>Erika Vestin</strong>
            <br> Webbutvecklare
            <br><br> 072-202 85 37
            <br><a href="erikabjorklund@outlook.com">erikabjorklund@outlook.com</a>
        </p>
    </div>
</article>