@{ //Title
    ViewData["Title"] = "Projekt";
}

<section id="created">
    <h2>Projekt</h2>
    <div class="wrapper-article">
        <article>
        <h3>Matteo's - Mat på italienskt vis</h3>
        <a href="https://studenter.miun.se/~erbj1201/writeable/dt173g/projekt_publik/"><img src="/images/matteos.png" alt="Matteo's restaurangs webbplats"></a>
        <p>En publik webbplats för resturangens kunder där de kan se menyn, läsa om restaurangen och boka bord.</p>
        <p>Till den publika webbplatsen finns en fristående webbplats där resturangen själv kan sköta ändring av menyer och bokning av bord. Data lagras i en tillhörande REST-webbtjänst.</p>
    <p class="code"><strong>Webbplatsen är skapad med en automatiserad arbetsprocess, PHP, JavaScript, SCSS, HTML, en REST-webbtjänst med stöd för CRUD som hämtar data från en MYSQL-databas.</strong></p>
<a class="link" href="https://studenter.miun.se/~erbj1201/writeable/dt173g/projekt_publik/">Till publik webbplats → </a>  
<a class="link" href="https://studenter.miun.se/~erbj1201/writeable/dt173g/projekt_admin/dashboard.php">Till administrativ webbplats → </a>
</article>
<article>
    <h3>Järvsö hotell & aktiviteter</h3>
    <a href="https://studenter.miun.se/~erbj1201/writeable/jarvsohotell/"><img src="/images/jarvsohotell&aktiviteter.png" alt="Järvsö hotell & aktiviteters webbplats"></a>
    <p>En webbplats för företagspresentation för ett hotell som erbjuder olika aktiviteter och boendetyper. Webbplatsen har onlinebokning. Webbplatsen är skapad med hjälp av Wordpress och ett egetskapat tema. </p>
    <p>Webbplatsen kan administreras av hotellets personal och allt innehåll är dynamiskt.</p>
<p class="code"><strong>Webbplatsen är skapad med hjälp av en fristående Wordpressinstallation i kombination med ett egetskapat tema. Temat är skapat med HTML, CSS, JavaScript och PHP och är sökmotoroptimerad.</strong></p>
<a class="link" href="https://studenter.miun.se/~erbj1201/writeable/jarvsohotell/">Till webbplatsen → </a>  
</article>
    </div>
</section>